---
---

@import "{{ site.theme }}";

/* theme overrides */

a {
  color: #729fcf;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  max-width: 90em;
  padding: 1rem 4rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #204a87;
  }
}

.page-header {
  color: #ecf0eb;
  text-align: left;
  background-color: #2e3436;
  background-image: none;

  @include large {
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

.project-tagline {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

h1.site-title {
  margin-bottom: 0;
}

h2.site-description {
  font-family: serif;
  margin-top: 0;
}

img.logo {
  vertical-align: middle;
}
